.header{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #222;
    font-family: RazerF5,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}
.header__links{
    display: flex;
    position: relative;
    width: 70%;
    margin-left: 5%;
}
.header__link h5{
    font-weight: 300;
    cursor: pointer;
    font-family: RazerF5,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    color: #999;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 1rem;
}
.header__link h5:hover{
    color: #fff;
}
.header__image{
    margin-left: 8%;
}
.header__image img{
    width: 40px;
    height: 40px;
}
.header__icons{
    display: flex;
    color: #999;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    padding: 0 44px 0 0;
}
.MuiSvgIcon-root{
    cursor: pointer;
}
.MuiSvgIcon-root:hover{
    color: #44d62c;

}
@media screen and (max-width: 900px){
.header__links{
    overflow-x: scroll;
}

}
